header{
    background: gainsboro;
    padding:20px;
    }
    .inicio-pagina{
        width:940px;
        position: relative;
        margin: 0;
       
        
        
    }
    nav{
        position: absolute;
        top: 40px;
        right: 0;
      
    }
    nav li{
        display: inline-block;
        margin-left: 20px;
        
    
    }
    nav a{
        color: black;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
     
        
    }
    nav a:hover{
        color: darkgreen;
        text-decoration: underline;
    }